USE [8298_Robinson_r1]
GO
/****** Object:  StoredProcedure [needles].[usp_insert_staging_Intake]    Script Date: 4/30/2021 2:06:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
ALTER PROCEDURE
	[needles].[usp_insert_staging_Intake]
		  @DebugFlag BIT
		, @Database VARCHAR(1000)
		, @SchemaName VARCHAR(1000)
		, @FVProductionPrefix VARCHAR(1000)
		, @timezone VARCHAR(1000)
AS
	BEGIN -- 	SELECT '[needles].[usp_insert_staging_Intake] has been created in [8298_Robinson_R1] database.  Please review and modifiy the procedure.'

		/*================================================================================================*/
		/*INSERT FOR PROJECT TEMPLATE: _CriminalMaster_ */
		/*================================================================================================*/
		
		INSERT INTO
			[PT1].[CriminalMaster_NC_Intake]
			(
				  [__ImportStatus]
				, [__ImportStatusDate]
				, [__ErrorMessage]
				, [__WorkerID]
				, [ProjectExternalID]
				, [timeofincident]
				, [placeofincident]
				, [descriptionofincident]
				, [policeinvolvement]
				, [911calluploadDocExternalID]
				, [complainingwitnessContactExternalID]
				, [arrest]
				, [dateofarrest]
				, [arrestingofficerContactExternalID]
				, [identification]
				, [searchwarrant]
				, [bodilyfluidscollected]
				, [dui]
				, [bac]
				, [basisforstop]
				, [dateofintake]
				, [personperformingintakeContactExternalID]
				, [referralsource]
				, [referredfromContactExternalID]
				, [leadstatus]
				, [referredouttoContactExternalID]
				, [referralfee]
				, [reasonfordeclining]
				, [datecontractsigned]
				, [citizenship]
				, [countyArrest]
				, [baildetails]
				, [priors]
				, [listallpriors]
				, [listallpendingcases]
				, [dateofincident]
				, [referralsourcefee]
				, [datecontractsent]
				, [appointmentdate]
				, [appointmenttime]
				, [iscallertheclient]
				, [callerContactExternalID]
				, [relationshiptoclient]
				, [policeagencyContactExternalID]
				, [relationshipbetweentheparti]
				, [wereyouonprobationorparol]
				, [forwhichoffenseincludingt]
				, [statementsmadetopolice]
				, [trialDate]
				, [breathTest]
				, [resultsOfBreathTest]
				, [knowingRefusal]
				, [age]
				, [reasonForStop]
				, [soundex]
				, [doWeNeedMVAHearing]
				, [whoWillFile]
				, [bACTechContactExternalID]
				, [accident]
				, [airbagDeployed]
				, [injuries]
				, [singleCarAccident]
				, [describeNatureOfInjuriesAn]
				, [mVAIssues]
				, [explain]
				, [dR15OrBlowIssues]
				, [describeNatureOfBlowIssues]
				, [stopAndArrestIssues]
				, [describe]
				, [willTakeInterlock]
				, [secretClearance]
				, [minor]
				, [provisionalLicense]
				, [uSCitizen]
				, [cDLDriver]
				, [chargesTickets]
				, [admissionsRegardingDrinking]
				, [stateRequireAnyCivilianWit]
				, [civilianWitnessesContactExternalIdCsv]
				, [modelAndColorOfCar]
				, [passengersInCarAtTimeOfA]
				, [blowChecklistEvents]
				, [explanation]
				, [fSTsPerformed]
				, [testsPerformed]
				, [locationConditionOfTesting]
				, [weatherTemperature]
				, [clothingShoes]
				, [priorInjuriesToTheBody]
				, [priorInjuries]
				, [medicationsTakenDaily]
				, [listOfMedications]
				, [dyslexicOrADHD]
				, [which]
				, [familyHistoryOfAlcoholAbus]
				, [whoAndWhatExtent]
				, [priorDUIOrCriminalCharges]
				, [whichAndWhen]
				, [currentPointsOnLicense]
				, [pointDetails]
				, [whereEducationWasCompleted]
				, [whatIsTheirDegreeIn]
				, [doTheyHaveClearance]
				, [whoIsTheirEmployerAndHow]
				, [whatIsTheirJobTitle]
				, [whatAlcoholClassReferred]
				, [maritalStatus]
				, [children]
				, [politeAndCourteous]
				, [military]
				, [stateOfLicense]
				, [wasMVAHearingRequested]
				, [mVASubmittedDocDocExternalID]
				, [complainingWitness_1]
				, [picturesOfAccidentDocExternalIdCsv]
				, [statementsAndDocsDocExternalIdCsv]
				, [ownerOfTheCar]
				, [passengersInCar]
				, [howFarInSchool_1]
				, [clientAdvisement]
				, [informationOnChildren]
				, [informationOnMilitaryServic]
				, [otherReferralSource]
				, [policeAgencyNeedles]
				, [arrestingOfficeNeedles]
				, [countyOfArrestNeedles]
			)
		SELECT DISTINCT
			  40 [__ImportStatus]
			, GETDATE() [__ImportStatusDate]
			, NULL [__ErrorMessage]
			, NULL [__WorkerID]
			, ccm.ProjectExternalID [ProjectExternalID]
			, NULL [timeofincident]
			, NULL [placeofincident]
			, c.synopsis [descriptionofincident]
			, NULL [policeinvolvement]
			, NULL [911calluploadDocExternalID]
			, NULL [complainingwitnessContactExternalID]
			, NULL [arrest]
			, c.date_of_incident [dateofarrest]
			, (SELECT utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND utd2.[usercasefieldid] = '22941F2B-F522-4F85-8777-A8FD00B1C245' ) [arrestingofficerContactExternalID]
			, NULL [identification]
			, NULL [searchwarrant]
			, NULL [bodilyfluidscollected]
			, NULL [dui]
			, (SELECT utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND utd2.[usercasefieldid] = 'EAE524D0-C016-4C73-BCBA-A8FD00B1C245') [bac]
			, NULL [basisforstop]
			, c.intake_date [dateofintake]
			, c.staffintakeid [personperformingintakeContactExternalID]
			, c.ReferredBy_namesid [referralsource] -- alignment?
			, c.ReferredBy_namesid [referredfromContactExternalID]
			, CASE	
				WHEN c.[ReferredTo_namesid] IS NOT NULL 
				THEN 'Case Referred Out'
			  END AS [leadstatus]
			, c.ReferredTo_namesid [referredouttoContactExternalID]
			, NULL [referralfee]
			, NULL [reasonfordeclining]
			, NULL [datecontractsigned]
			, NULL [citizenship]
			, NULL [countyArrest]
			, NULL [baildetails]
			, NULL [priors]
			, NULL [listallpriors]
			, NULL [listallpendingcases]
			, NULL [dateofincident]
			, NULL [referralsourcefee]
			, NULL [datecontractsent]
			, NULL [appointmentdate]
			, NULL [appointmenttime]
			, NULL [iscallertheclient]
			, NULL [callerContactExternalID]
			, NULL [relationshiptoclient]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = '93A1C269-4A57-4655-BFFA-A8FD00B1C245') [policeagencyContactExternalID]
			, NULL [relationshipbetweentheparti]
			, NULL [wereyouonprobationorparol]
			, NULL [forwhichoffenseincludingt]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = 'F6C918C6-39FE-4ADE-A16F-A8FD00B1C244') [statementsmadetopolice]
			, (SELECT cd2.casedate from case_dates cd2 WHERE d.casesid = cd2.casesid AND [datelabelid] = '6852E3CF-893B-4C22-895A-A8FD00B1A231') [trialDate]
			, NULL [breathTest]
			, NULL [resultsOfBreathTest]
			, NULL [knowingRefusal]
			, NULL [age]
			, NULL [reasonForStop]
			, NULL [soundex]
			, NULL [doWeNeedMVAHearing]
			, NULL [whoWillFile]
			, NULL [bACTechContactExternalID]
			, (SELECT [data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND [usercasefieldid] = '8EF5A630-E40A-45AB-BBBB-A90B00C2ADC8') [accident]
			, NULL [airbagDeployed]
			, NULL [injuries]
			, NULL [singleCarAccident]
			, NULL [describeNatureOfInjuriesAn]
			, NULL [mVAIssues]
			, NULL [explain]
			, NULL [dR15OrBlowIssues]
			, NULL [describeNatureOfBlowIssues]
			, NULL [stopAndArrestIssues]
			, NULL [describe]
			, NULL [willTakeInterlock]
			, NULL [secretClearance]
			, NULL [minor]
			, NULL [provisionalLicense]
			, NULL [uSCitizen]
			, NULL [cDLDriver]
			, NULL [chargesTickets]
			, NULL [admissionsRegardingDrinking]
			, NULL [stateRequireAnyCivilianWit]
			, NULL [civilianWitnessesContactExternalIdCsv]
			, NULL [modelAndColorOfCar]
			, NULL [passengersInCarAtTimeOfA]
			, NULL [blowChecklistEvents]
			, NULL [explanation]
			, NULL [fSTsPerformed]
			, NULL [testsPerformed]
			, NULL [locationConditionOfTesting]
			, NULL [weatherTemperature]
			, NULL [clothingShoes]
			, NULL [priorInjuriesToTheBody]
			, NULL [priorInjuries]
			, NULL [medicationsTakenDaily]
			, NULL [listOfMedications]
			, NULL [dyslexicOrADHD]
			, NULL [which]
			, NULL [familyHistoryOfAlcoholAbus]
			, NULL [whoAndWhatExtent]
			, NULL [priorDUIOrCriminalCharges]
			, NULL [whichAndWhen]
			, NULL [currentPointsOnLicense]
			, NULL [pointDetails]
			, NULL [whereEducationWasCompleted]
			, NULL [whatIsTheirDegreeIn]
			, NULL [doTheyHaveClearance]
			, NULL [whoIsTheirEmployerAndHow]
			, NULL [whatIsTheirJobTitle]
			, NULL [whatAlcoholClassReferred]
			, NULL [maritalStatus]
			, NULL [children]
			, NULL [politeAndCourteous]
			, NULL [military]
			, NULL [stateOfLicense]
			, NULL [wasMVAHearingRequested]
			, NULL [mVASubmittedDocDocExternalID]
			, NULL [complainingWitness_1]
			, NULL [picturesOfAccidentDocExternalIdCsv]
			, NULL [statementsAndDocsDocExternalIdCsv]
			, NULL [ownerOfTheCar]
			, NULL [passengersInCar]
			, NULL [howFarInSchool_1]
			, NULL [clientAdvisement]
			, NULL [informationOnChildren]
			, NULL [informationOnMilitaryServic]
			, NULL [otherReferralSource]
			, NULL [policeAgencyNeedles]
			, NULL [arrestingOfficeNeedles]
			, NULL [countyOfArrestNeedles]
	-- SELECT *
		FROM __FV_ClientCaseMap ccm
			INNER JOIN dbo.[cases] C
				ON CCM.CaseID = C.[id] -- 723
			INNER JOIN user_tab6_data utd
				ON C.id = utd.casesid -- 5506
			INNER JOIN dbo.case_dates d
				ON c.id = d.[casesid] -- 456


		 	--INNER JOIN [__FV_ProjectTemplateMap] ptm 
				--	ON ptm.Legacy_Case_ID = ccm.CaseID 
	--SELECT *
	--FROM user_tab6_data


	--				SELECT *
	--				FROM 	[__FV_ProjectTemplateMap] 
		
		/*================================================================================================*/
		/*INSERT FOR PROJECT TEMPLATE: _PersonalInjuryMaster_ */
		/*================================================================================================*/
		
		INSERT INTO
			[PT1].[PersonalInjuryMaster_NC_Intake]
			(
				  [__ImportStatus]
				, [__ImportStatusDate]
				, [__ErrorMessage]
				, [__WorkerID]
				, [ProjectExternalID]
				, [children]
				, [accidenttype]
				, [whopolicemanageretcContactExternalID]
				, [sfpremisepictures]
				, [uploadpremisepicsDocExternalIdCsv]
				, [descriptionofaccident]
				, [accidentdiagramsDocExternalIdCsv]
				, [policereport]
				, [policereportuploadDocExternalID]
				, [picturesofdamages]
				, [photosofdamagesDocExternalIdCsv]
				, [locationofclientsvehicle]
				, [rentaloptionsownliabnone]
				, [vehicletowed]
				, [towedto]
				, [injuriessustainedpaincomplaints]
				, [picturestakenofinjuries]
				, [picturesofinjuriesDocExternalIdCsv]
				, [priorinjuries]
				, [employmentstatus]
				, [lostwagesstart]
				, [lostwagesend]
				, [jobtitle]
				, [duties]
				, [clientshourlyratesalary]
				, [subsequentaccidents]
				, [explanation]
				, [gameplandiscussedwithclient]
				, [reviewsocialmedialetterpolicy]
				, [allsocialmediaplatformsanduserids]
				, [witnessesstatementsgiven]
				, [workerscompcarrierContactExternalID]
				, [workerscompadjusterContactExternalID]
				, [workerscompclaim]
				, [clientjobdescriptiontitleduties]
				, [lastdateworked]
				, [accidentreportfirstreportofinjury]
				, [accidentsreportfirstreportofinjuryuploadDocExternalID]
				, [towhomwasitgivenContactExternalID]
				, [responsegiven]
				, [whatform4336etc]
				, [receivingbenefits]
				, [benefitsreceivingreceived]
				, [amountperperiod]
				, [typeofanimal]
				, [product]
				, [concurrentemployment]
				, [ccemployer1ContactExternalID]
				, [cc1hourlyratesalary]
				, [ccemployer2ContactExternalID]
				, [cc2hourlyratesalary]
				, [previousjobsdone]
				, [detailedjobdescriptionthisaccident]
				, [clientsrelevantdetails]
				, [authorizedtreatingphysicianContactExternalID]
				, [additionaldocsDocExternalIdCsv]
				, [witnesses]
				, [locationofaccident]
				, [dateofintake]
				, [referralsource]
				, [referralfee]
				, [wereyoutransportedinanambulance]
				, [didyougotothehospital]
				, [hospitalContactExternalID]
				, [permanentinjury]
				, [describewhatmalpracticenegligenceyoubelieveo]
				, [typeofmedmal]
				, [othermedmal]
				, [forwhatconditionwereyouoriginallyseeingdoct]
				, [hasinjurycausedpermanentinjuryorscarring]
				, [hasinjurybeencorrected]
				, [wasinjurycausedbydefectivesurgicalimplant]
				, [whatimplantandwherewasitimplanted]
				, [typeofnursinghomenegabuse]
				, [othernursinghomenegligence]
				, [whenwasresidentadmittedtonursinghome]
				, [didresidenthavepreviousincidentsatnursingho]
				, [didyoureportnegligenceabusetonursinghome]
				, [personyoufiledreportwithContactExternalID]
				, [didnursinghomenotifyyouofincident]
				, [whenwereyounotified]
				, [didresidentgotothehospitalfollowingtheinci]
				, [wasresidenttakentohospitalbyambulance]
				, [hasresidentseenanyothermedicalprovidersfor]
				, [hasanyothermedicalprovidersaidtheresidents]
				, [leadstatus]
				, [taxreturnsDocExternalIdCsv]
				, [reasonfordeclining]
				, [datecontractsigned]
				, [datecontractsent]
				, [dateofdeath]
				, [personalrepresentativeContactExternalID]
				, [hasanestatebeenopened]
				, [executorContactExternalID]
				, [injuriessustained]
				, [referralsourcefee]
				, [medicalprovidersseentodateContactExternalIdCsv]
				, [whoispayingfortreatmentContactExternalID]
				, [testscompleted]
				, [physicianshospitalsorotheContactExternalIdCsv]
				, [manufacturerContactExternalIdCsv]
				, [animalownerContactExternalIdCsv]
				, [notes]
				, [payperiod]
				, [personperformingintakeContactExternalID]
				, [referredfromContactExternalID]
				, [referredouttoContactExternalID]
				, [initialintakeappointmentset]
				, [appointmenttime]
				, [dateOfLoss]
				, [stateWhereAccidentOccured]
				, [FlagsToNote]
				, [wereThereLostWages]
				, [whatWereTheClientSTreatme]
				, [pIPInsurance]
				, [amountOfPIP]
				, [healthInsurance]
				, [healthInsuranceProvider]
				, [policy]
				, [wereThereOtherPassengersIn]
				, [wasARelatedCaseOpened]
				, [pIPInsuranceCompany]
				, [pIPPolicy]
				, [medPay]
				, [medPayProvider]
				, [medPayPolicy]
				, [ifYesPleaseAddTheirInfor]
				, [report]
				, [treatmentNotes]
				, [airbagsDeployed]
				, [clientSVehicleDrivable]
				, [airbagsDeployedDefendant]
				, [defendantSVehicleDrivable]
				, [amountOfDamage]
				, [preExistingHealthConditions]
				, [ifYesPleaseExplainHealth]
				, [clientSVehicleType]
				, [defendantSVehicleType]
				, [damageToClientSVehicle]
				, [damageToDefendantSVehicle]
				, [towedBy]
				, [employer]
				, [supervisor]
				, [jurisdiction]
				, [wasRetainerSigned]
				, [pleaseAttachRetainerDocExternalID]
				, [timeOfAccident]
				, [defendantNameAddressPhone]
				, [otherReferralSource]
				, [isTheDefendantGovernmentEn]
				, [putTheGovernmentalEntityOf]
				, [intakePerson]
				, [dateCaseReferredOut]
				, [caseReferredToContactExternalID]
				, [otherAccidentType]
				, [whoPoliceManagerEtcNeedles]
				, [jurisdictionNeedles]
			)
		SELECT DISTINCT
			  40 [__ImportStatus]
			, GETDATE() [__ImportStatusDate]
			, NULL [__ErrorMessage]
			, NULL [__WorkerID]
			, ccm.ProjectExternalID [ProjectExternalID]
			, NULL [children]
			, c.matterid [accidenttype]
			, NULL [whopolicemanageretcContactExternalID]
			, NULL [sfpremisepictures]
			, NULL [uploadpremisepicsDocExternalIdCsv]
			, (SELECT utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = '98828FB4-929E-4637-A7ED-A90B00C2F5FF') [descriptionofaccident]
			, NULL [accidentdiagramsDocExternalIdCsv]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = '75D86BF8-2C96-4766-8238-A8FD00B1C248')  [policereport]
			, NULL [policereportuploadDocExternalID]
			, NULL [picturesofdamages]
			, NULL [photosofdamagesDocExternalIdCsv]
			, NULL [locationofclientsvehicle]
			, NULL [rentaloptionsownliabnone]
			, NULL [vehicletowed]
			, NULL [towedto]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = '27713059-FEB4-4119-B8A9-A8FD00B1C245')   [injuriessustainedpaincomplaints]
			, NULL [picturestakenofinjuries]
			, NULL [picturesofinjuriesDocExternalIdCsv]
			, NULL [priorinjuries]
			, NULL [employmentstatus]
			, NULL [lostwagesstart]
			, NULL [lostwagesend]
			, NULL [jobtitle]
			, NULL [duties]
			, NULL [clientshourlyratesalary]
			, NULL [subsequentaccidents]
			, NULL [explanation]
			, NULL [gameplandiscussedwithclient]
			, NULL [reviewsocialmedialetterpolicy]
			, NULL [allsocialmediaplatformsanduserids]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = 'F6C918C6-39FE-4ADE-A16F-A8FD00B1C244')  [witnessesstatementsgiven]
			, NULL [workerscompcarrierContactExternalID]
			, NULL [workerscompadjusterContactExternalID]
			, NULL [workerscompclaim]
			, NULL [clientjobdescriptiontitleduties]
			, NULL [lastdateworked]
			, NULL [accidentreportfirstreportofinjury]
			, NULL [accidentsreportfirstreportofinjuryuploadDocExternalID]
			, NULL [towhomwasitgivenContactExternalID]
			, NULL [responsegiven]
			, NULL [whatform4336etc]
			, NULL [receivingbenefits]
			, NULL [benefitsreceivingreceived]
			, NULL [amountperperiod]
			, NULL [typeofanimal]
			, NULL [product]
			, NULL [concurrentemployment]
			, NULL [ccemployer1ContactExternalID]
			, NULL [cc1hourlyratesalary]
			, NULL [ccemployer2ContactExternalID]
			, NULL [cc2hourlyratesalary]
			, NULL [previousjobsdone]
			, NULL [detailedjobdescriptionthisaccident]
			, NULL [clientsrelevantdetails]
			, NULL [authorizedtreatingphysicianContactExternalID]
			, NULL [additionaldocsDocExternalIdCsv]
			, NULL [witnesses]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = '7A3154EF-6E97-44F4-AD95-A8FD00B1C246') [locationofaccident]
			, NULL [dateofintake]
			, c.ReferredBy_namesid [referralsource] -- check alignment
			, NULL [referralfee]
			, NULL [wereyoutransportedinanambulance]
			, NULL [didyougotothehospital]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = 'DD9B05D5-CB52-4F88-AEC1-A90B011EB6E0')  [hospitalContactExternalID]
			, NULL [permanentinjury]
			, NULL [describewhatmalpracticenegligenceyoubelieveo]
			, NULL [typeofmedmal]
			, NULL [othermedmal]
			, NULL [forwhatconditionwereyouoriginallyseeingdoct]
			, NULL [hasinjurycausedpermanentinjuryorscarring]
			, NULL [hasinjurybeencorrected]
			, NULL [wasinjurycausedbydefectivesurgicalimplant]
			, NULL [whatimplantandwherewasitimplanted]
			, NULL [typeofnursinghomenegabuse]
			, NULL [othernursinghomenegligence]
			, NULL [whenwasresidentadmittedtonursinghome]
			, NULL [didresidenthavepreviousincidentsatnursingho]
			, NULL [didyoureportnegligenceabusetonursinghome]
			, NULL [personyoufiledreportwithContactExternalID]
			, NULL [didnursinghomenotifyyouofincident]
			, NULL [whenwereyounotified]
			, NULL [didresidentgotothehospitalfollowingtheinci]
			, NULL [wasresidenttakentohospitalbyambulance]
			, NULL [hasresidentseenanyothermedicalprovidersfor]
			, NULL [hasanyothermedicalprovidersaidtheresidents]
			, NULL [leadstatus]
			, NULL [taxreturnsDocExternalIdCsv]
			, NULL [reasonfordeclining]
			, NULL [datecontractsigned]
			, NULL [datecontractsent]
			, NULL [dateofdeath]
			, NULL [personalrepresentativeContactExternalID]
			, NULL [hasanestatebeenopened]
			, NULL [executorContactExternalID]
			, NULL [injuriessustained]
			, NULL [referralsourcefee]
			, NULL [medicalprovidersseentodateContactExternalIdCsv]
			, NULL [whoispayingfortreatmentContactExternalID]
			, NULL [testscompleted]
			, NULL [physicianshospitalsorotheContactExternalIdCsv]
			, NULL [manufacturerContactExternalIdCsv]
			, NULL [animalownerContactExternalIdCsv]
			, NULL [notes]
			, NULL [payperiod]
			, NULL [personperformingintakeContactExternalID]
			, NULL [referredfromContactExternalID]
			, NULL [referredouttoContactExternalID]
			, NULL [initialintakeappointmentset]
			, NULL [appointmenttime]
			, NULL [dateOfLoss]
			, NULL [stateWhereAccidentOccured]
			, NULL [FlagsToNote]
			, NULL [wereThereLostWages]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = '58615E9D-2071-435C-9BC9-A90B011EFFF8')  [whatWereTheClientSTreatme] 
			, NULL [pIPInsurance]
			, NULL [amountOfPIP]
			, NULL [healthInsurance]
			, NULL [healthInsuranceProvider]
			, NULL [policy]
			, NULL [wereThereOtherPassengersIn]
			, NULL [wasARelatedCaseOpened]
			, NULL [pIPInsuranceCompany]
			, NULL [pIPPolicy]
			, NULL [medPay]
			, NULL [medPayProvider]
			, NULL [medPayPolicy]
			, NULL [ifYesPleaseAddTheirInfor]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = 'CB1541FB-0441-44C3-B6D4-A8FD00B1C248') [report]
			, NULL [treatmentNotes]
			, NULL [airbagsDeployed]
			, NULL [clientSVehicleDrivable]
			, NULL [airbagsDeployedDefendant]
			, NULL [defendantSVehicleDrivable]
			, NULL [amountOfDamage]
			, NULL [preExistingHealthConditions]
			, NULL [ifYesPleaseExplainHealth]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = '234520E0-E996-41D1-AB4F-A8FD00B1C248') [clientSVehicleType]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = 'C32DF805-B7EF-455D-9A87-A8FD00B1C248') [defendantSVehicleType]
			, NULL [damageToClientSVehicle]
			, NULL [damageToDefendantSVehicle]
			, NULL [towedBy]
			, NULL [employer]
			, NULL [supervisor]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = 'EF17030D-EB83-4525-BB59-A8FD00B1C246') [jurisdiction]
			, NULL [wasRetainerSigned]
			, NULL [pleaseAttachRetainerDocExternalID]
			, (SELECT top 1 utd2.[data] FROM user_tab6_data utd2 WHERE utd2.casesid = utd.casesid AND  utd.[usercasefieldid] = '786FC7A4-7E34-4DAC-B83E-A8FD00B1C248')  [timeOfAccident]
			, NULL [defendantNameAddressPhone]
			, NULL [otherReferralSource]
			, NULL [isTheDefendantGovernmentEn]
			, NULL [putTheGovernmentalEntityOf]
			, NULL [intakePerson]
			, NULL [dateCaseReferredOut]
			, NULL [caseReferredToContactExternalID]
			, NULL [otherAccidentType]
			, NULL [whoPoliceManagerEtcNeedles]
			, NULL [jurisdictionNeedles]
 -- SELECt *
		FROM __FV_ClientCaseMap ccm
		-- 	INNER JOIN 	[__FV_ProjectTemplateMap] ptm 
		--		ON ptm.Legacy_Case_ID = ccm.CaseID 
			INNER JOIN dbo.[cases] C
				ON CCM.CaseID = C.[id] -- 723
			INNER JOIN user_tab6_data utd
				ON C.id = utd.casesid -- 5506
		
				


	END
														