USE [7119_FedEx_II_r1]
GO
/****** Object:  StoredProcedure [filevine].[usp_insert_staging_Documents]    Script Date: 8/9/2021 10:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
ALTER PROCEDURE
	[filevine].[usp_insert_staging_Documents]
		  @DebugFlag BIT
		, @Database VARCHAR(1000)
		, @SchemaName VARCHAR(1000)
		, @FVProductionPrefix VARCHAR(1000)
		, @timezone VARCHAR(1000)
AS
	BEGIN 	SELECT '[filevine].[usp_insert_staging_Documents] has been created in database.  Please review and modifiy the procedure.';
	SELECt count(*)
	FROM s3docscan
		
	DELETE FROM filevinestaging2import.._FedexB_Test1_Documents___9941
	--PT1.DOCUMENTS
	-- SELECT * FROM filevinestaging2import.._FedexB_Test1_Documents___9941
	WHERE 
		0 = 0;
	
	DECLARE 
		@CLIENTS3BUCKETPREFIX    VARCHAR(MAX),
		@ORGID INT;

	SELECT TOP 1 
		@CLIENTS3BUCKETPREFIX = LEFT(SOURCES3OBJECTKEY,CHARINDEX('/',SOURCES3OBJECTKEY) - 1)
	FROM DBO.S3DOCSCAN;

	SELECT 
		@ORGID = LEFT(CLIENTS3BUCKETPREFIX_NOFILEVINEPREFIX, ISNULL(NULLIF(CHARINDEX('-',CLIENTS3BUCKETPREFIX_NOFILEVINEPREFIX),0)-1,LEN(CLIENTS3BUCKETPREFIX_NOFILEVINEPREFIX)))
	FROM
	(
		SELECT TOP 1
			REPLACE(@CLIENTS3BUCKETPREFIX,'filevine-','') AS CLIENTS3BUCKETPREFIX_NOFILEVINEPREFIX
	) AS X;

	/*#DOCFOLDERS: Identifies the Org Root Folder and cleans up data issues with the dbo.DocFolder table that could result in infinite recursion*/

	IF OBJECT_ID('tempdb.dbo.#DOCFOLDERS') IS NOT NULL
	BEGIN
		DROP TABLE #DOCFOLDERS;
	END;

	CREATE TABLE #DOCFOLDERS
	(
		ORGID                INT NULL,
		PROJECTID            INT NULL,
		FOLDERID             INT NOT NULL,
		PARENTID             INT NULL INDEX NCX_#DOCFOLDERS_PARENTID NONCLUSTERED,
		FOLDERNAME           VARCHAR(MAX) NOT NULL,
		IS_ORG_ROOTFOLDER    BIT NOT NULL
	);

	INSERT INTO #DOCFOLDERS
	(
		ORGID,
		PROJECTID,
		FOLDERID,
		PARENTID,
		FOLDERNAME,
		IS_ORG_ROOTFOLDER
	)
	SELECT 
		DF.ORGID,
		NULL AS PROJECTID,
		DF.ID AS FOLDERID,
		NULL AS PARENTID,
		CONVERT(VARCHAR(MAX),DF.NAME) AS FOLDERNAME,
		1 AS IS_ORG_ROOTFOLDER
	FROM DBO.DOCFOLDER AS DF
	WHERE DF.ORGID = @ORGID
		AND DF.PROJECTID IS NULL
		AND DF.PARENTID IS NULL
	UNION ALL
	SELECT 
		DF.ORGID,
		DF.PROJECTID,
		DF.ID AS FOLDERID,
		CASE
			WHEN DF.PARENTID = DF.ID
				THEN ISNULL(P.ROOTDOCFOLDERID,ORF.ID)
			ELSE DF.PARENTID
		END AS PARENTID,
		CONVERT(VARCHAR(MAX),DF.NAME) AS FOLDERNAME,
		0 AS IS_ORG_ROOTFOLDER
	FROM DBO.__FV_CLIENTCASEMAP AS CCM
	INNER JOIN DBO.DOCFOLDER AS DF
		ON DF.PROJECTID = CCM.PROJECTEXTERNALID
	LEFT JOIN DBO.PROJECT AS P
		ON P.ORGID = DF.ORGID AND P.ID = DF.PROJECTID
	LEFT JOIN DBO.DOCFOLDER AS ORF
		ON ORF.ORGID = DF.ORGID
		AND ORF.PROJECTID IS NULL
		AND ORF.PARENTID IS NULL
	WHERE DF.ORGID = @ORGID
		AND DF.ISREMOVED = 0;

	/*#FOLDERPATHS: Results of recursive DocFolder folderpath builder for faster run time*/

	IF OBJECT_ID('tempdb.dbo.#FOLDERPATHS') IS NOT NULL
	BEGIN
		DROP TABLE #FOLDERPATHS;
	END;

	CREATE TABLE #FOLDERPATHS
	(
		ORGID         INT NOT NULL,
		PROJECTID     INT NULL,
		FOLDERID      INT NOT NULL,
		PARENTID      INT NULL,
		FOLDERNAME    VARCHAR(MAX) NOT NULL
	);

	WITH FOLDERPATHS
		 AS (SELECT 
				 RF.ORGID,
				 RF.PROJECTID,
				 RF.FOLDERID,
				 RF.PARENTID,
				 RF.FOLDERNAME
			 FROM #DOCFOLDERS AS RF
			 WHERE RF.IS_ORG_ROOTFOLDER = 1
			 UNION ALL
			 SELECT 
				 DF.ORGID,
				 DF.PROJECTID,
				 DF.FOLDERID,
				 DF.PARENTID,
				 FP.FOLDERNAME + '/' + DF.FOLDERNAME AS FOLDERNAME
			 FROM FOLDERPATHS AS FP
			 INNER JOIN #DOCFOLDERS AS DF
				 ON DF.PARENTID = FP.FOLDERID)
		 INSERT INTO #FOLDERPATHS
		 (
			 ORGID,
			 PROJECTID,
			 FOLDERID,
			 PARENTID,
			 FOLDERNAME
		 )
		 SELECT 
			 ORGID,
			 PROJECTID,
			 FOLDERID,
			 PARENTID,
			 FOLDERNAME
		 FROM FOLDERPATHS;

	/*#PROJECTFOLDERS: Mapping of Project ID and Project Root Folder Path for easy replacement to determine NewDocuments.DestinationFolderPath*/

	IF OBJECT_ID('tempdb.dbo.#PROJECTFOLDERS') IS NOT NULL
	BEGIN
		DROP TABLE #PROJECTFOLDERS;
	END;

	CREATE TABLE #PROJECTFOLDERS
	(
		PROJECTEXTERNALID      INT NOT NULL,
		PROJECTROOTFOLDER      VARCHAR(MAX) NOT NULL,
		PROJECTROOTFOLDERS3    VARCHAR(MAX) NOT NULL
	);

	INSERT INTO #PROJECTFOLDERS
	(
		PROJECTEXTERNALID,
		PROJECTROOTFOLDER,
		PROJECTROOTFOLDERS3
	)
	SELECT 
		CCM.PROJECTEXTERNALID,
		ORF.FOLDERNAME + '/' + PRF.FOLDERNAME AS PROJECTROOTFOLDER,
		PRF.FOLDERNAME AS PROJECTROOTFOLDERS3
	FROM DBO.__FV_CLIENTCASEMAP AS CCM
	INNER JOIN DBO.PROJECT AS P
		ON P.ID = CCM.PROJECTEXTERNALID
	INNER JOIN #DOCFOLDERS AS ORF
		ON ORF.ORGID = P.ORGID
		AND ORF.IS_ORG_ROOTFOLDER = 1
	INNER JOIN #DOCFOLDERS AS PRF
		ON PRF.ORGID = P.ORGID
		AND PRF.PROJECTID = P.ID
		AND PRF.FOLDERID = P.ROOTDOCFOLDERID;
		
	INSERT INTO 
	--PT1.DOCUMENTS
	filevinestaging2import.._FedexB_Test1_Documents___9941
	(
		__IMPORTSTATUS,
		__IMPORTSTATUSDATE,
		__ERRORMESSAGE,
		__WORKERID,
		__DOCID,
		DOCEXTERNALID,
		PROJECTEXTERNALID,
		FILEVINEPROJECTID,
		NOTEEXTERNALID,
		SOURCES3BUCKET,
		SOURCES3OBJECTKEY,
		SOURCES3OBJECTKEYENCODED,
		DESTINATIONFILENAME,
		DESTINATIONFOLDERPATH,
		UPLOADDATE,
		HASHTAGS,
		UPLOADEDBYUSERNAME,
		SECTIONSELECTOR,
		FIELDSELECTOR,
		COLLECTIONITEMEXTERNALID,
		ISRELOAD
	)
	SELECT 
		40 AS __IMPORTSTATUS,
		GETDATE() AS __IMPORTSTATUSDATE,
		NULL AS __ERRORMESSAGE,
		NULL AS __WORKERID,
		NULL AS __DOCID,
		D.ID AS DOCEXTERNALID,
		P.ID AS PROJECTEXTERNALID,
		NULL AS FILEVINEPROJECTID,
		N.NOTEEXTERNALID AS NOTEEXTERNALID,
		SDS.SOURCES3BUCKET AS SOURCES3BUCKET,
		SDS.SOURCES3OBJECTKEY AS SOURCES3OBJECTKEY,
		SDS.SOURCES3OBJECTKEYENCODED AS SOURCES3OBJECTKEYENCODED,
		D.FILENAME AS DESTINATIONFILENAME,
		NULLIF(CASE
				   WHEN FP.FOLDERNAME = PF.PROJECTROOTFOLDER
					   THEN REPLACE(FP.FOLDERNAME,PF.PROJECTROOTFOLDER,'')
				   ELSE REPLACE(FP.FOLDERNAME,PF.PROJECTROOTFOLDER + '/','')
			   END,'') AS DESTINATIONFOLDERPATH,
		D.UPLOADDATE AS UPLOADDATE,
		HT.HASHTAGS AS HASHTAGS,
		/*Docs uploaded via sms or other non-user referencing methods will need to have this field defaulted to a dummy user since this is validated against usernames*/
		'datamigrationteam101' -- ISNULL(U.FV_USERNAME,'datamigrationteam101') 
		AS UPLOADEDBYUSERNAME,
		NULL AS SECTIONSELECTOR,
		NULL AS FIELDSELECTOR,
		NULL AS COLLECTIONITEMEXTERNALID,
		NULL AS ISRELOAD
	FROM DBO.__FV_CLIENTCASEMAP AS CCM
	INNER JOIN DBO.DOC AS D
		ON D.PROJECTID = CCM.PROJECTEXTERNALID
	INNER JOIN DBO.PROJECT AS P
		ON P.ORGID = D.ORGID
		AND P.ID = CCM.PROJECTEXTERNALID
	INNER JOIN #DOCFOLDERS AS ORF
		ON ORF.ORGID = D.ORGID
		AND ORF.IS_ORG_ROOTFOLDER = 1
	INNER JOIN #FOLDERPATHS AS FP
		ON FP.ORGID = D.ORGID
		AND FP.PROJECTID = CCM.PROJECTEXTERNALID
		AND FP.FOLDERID = COALESCE(D.FOLDERID,P.ROOTDOCFOLDERID,ORF.FOLDERID)
	INNER JOIN DBO.S3DOCSCAN AS SDS
		/*Use Collation to perform Case-Sensitive matching*/
		ON SDS.SOURCES3OBJECTKEY = @CLIENTS3BUCKETPREFIX + '/' + FP.FOLDERNAME + '/' + D.FILENAME COLLATE LATIN1_GENERAL_CS_AS
	LEFT JOIN #PROJECTFOLDERS AS PF
		ON PF.PROJECTEXTERNALID = CCM.PROJECTEXTERNALID
	LEFT JOIN DBO.COMMENT AS CMT
		ON CMT.ID = IIF(D.DOCABLETYPE = 'Comment',D.DOCABLEID,NULL)
	--LEFT JOIN PT1.NEWNOTES AS N
	LEFT JOIN PT1.NOTES AS N

		ON N.NOTEEXTERNALID = CASE D.DOCABLETYPE
								  WHEN 'Note'
									  THEN D.DOCABLEID
								  WHEN 'Comment'
									  THEN CMT.NOTEID
							  END
	LEFT JOIN DBO.__FV_USERNAMES AS U
		ON U.LEGACY_USERNAME_ID = D.UPLOADERID
	OUTER APPLY
	(
		SELECT 
			STUFF(
			(
				SELECT 
					',' + CONVERT(VARCHAR(MAX),DH.HASHTAG)
				FROM DBO.DOCHASHTAG AS DH
				WHERE DH.DOCID = D.ID FOR
				XML PATH('')
			),1,1,'') AS HASHTAGS
	) AS HT;

	/*In case of a mismatch between the database backup docs data (dbo.Doc) and the docs export (dbo.S3DocScan), import any remaining files contained in the Project Root Folders with defaults*/
	INSERT INTO 
	--PT1.DOCUMENTS -- DELETE FROM
	-- select * from
	filevinestaging2import.._FedexB_Test1_Documents___9941
	(
		__IMPORTSTATUS,
		__IMPORTSTATUSDATE,
		__ERRORMESSAGE,
		__WORKERID,
		__DOCID,
		DOCEXTERNALID,
		PROJECTEXTERNALID,
		FILEVINEPROJECTID,
		NOTEEXTERNALID,
		SOURCES3BUCKET,
		SOURCES3OBJECTKEY,
		SOURCES3OBJECTKEYENCODED,
		DESTINATIONFILENAME,
		DESTINATIONFOLDERPATH,
		UPLOADDATE,
		HASHTAGS,
		UPLOADEDBYUSERNAME,
		SECTIONSELECTOR,
		FIELDSELECTOR,
		COLLECTIONITEMEXTERNALID,
		ISRELOAD
	)
	SELECT 
		40 AS __IMPORTSTATUS,
		GETDATE() AS __IMPORTSTATUSDATE,
		NULL AS __ERRORMESSAGE,
		NULL AS __WORKERID,
		NULL AS __DOCID,
		SDS.DOCID AS DOCEXTERNALID,
		PF.PROJECTEXTERNALID AS PROJECTEXTERNALID,
		NULL AS FILEVINEPROJECTID,
		NULL AS NOTEEXTERNALID,
		SDS.SOURCES3BUCKET AS SOURCES3BUCKET,
		SDS.SOURCES3OBJECTKEY AS SOURCES3OBJECTKEY,
		SDS.SOURCES3OBJECTKEYENCODED AS SOURCES3OBJECTKEYENCODED,
		SDS.FILECOMPLETE AS DESTINATIONFILENAME,
		NULLIF(CASE
				   WHEN SDS.FOLDERPATH = PF.PROJECTROOTFOLDERS3
					   THEN REPLACE(SDS.FOLDERPATH,PF.PROJECTROOTFOLDERS3,'')
				   ELSE REPLACE(SDS.FOLDERPATH,PF.PROJECTROOTFOLDERS3 + '/','')
			   END,'') AS DESTINATIONFOLDERPATH,
		/*Put at additional " AT TIME ZONE '<see sys.time_zone_info>' " for your timezone in between your datetime and the " AT TIME ZONE 'UTC' " to convert as needed*/
		CONVERT(DATETIME, GETDATE() AT TIME ZONE 'UTC') AS UPLOADDATE,
		NULL AS HASHTAGS,
		'datamigrationteam101' AS UPLOADEDBYUSERNAME,
		NULL AS SECTIONSELECTOR,
		NULL AS FIELDSELECTOR,
		NULL AS COLLECTIONITEMEXTERNALID,
		NULL AS ISRELOAD
	FROM #PROJECTFOLDERS AS PF
	INNER JOIN DBO.__FV_DOCUMENTS AS FVD
		ON FVD.FV_PROJECTID = PF.PROJECTEXTERNALID
	INNER JOIN DBO.S3DOCSCAN AS SDS
		ON SDS.ID = FVD.SCANID
	WHERE NOT EXISTS
	(
		SELECT 
			1
		FROM 
		--PT1.DOCUMENTS 
		filevinestaging2import.._FedexB_Test1_Documents___9941 AS D
		WHERE D.SOURCES3OBJECTKEY = SDS.SOURCES3OBJECTKEY
	);
	
	END
														